{% extends 'woman/base.html' %}

{% block title %}Категория: {{ title }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row col-9">
            {% for act in posts %}
                {% if act.is_published %}
                    <div class="row col-12 mt-4">
                        <div class="col"><h3 class="h3">{{ act.title }}</h3>
                            {% if act.img_file %}
                                <img class="img-article-list" src="{{ act.img_file.url }}"
                                     alt="Фотография {{ title }}">
                            {% endif %}
                            {{ act.content|linebreaks|truncatewords:20 }}</div>
                    </div>
                    <div class="row col-12 bg-color">
                        <div class="col mt-1"><p>Категория: {{ act.cat }}</p></div>
                        <div class="col mt-1"><p>Дата: {{ act.time_update|date:"d-m-Y H:i:s" }}</p></div>
                        <div class="col mt-1"><a type="button" class="btn btn-dark" href="{{ act.get_absolute_url }}">Читать
                            пост</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_other_pages %}
                <div class="nav-paginator">
                    <ul>
                        {% if page_obj.has_previous %}
                            <li class="li-paginator"
                                onclick="location.href='?page={{ page_obj.previous_page_number }}'"><
                            </li>
                        {% endif %}
                        {% for p in paginator.page_range %}
                            {% if page_obj.number == p %}
                                <li class="li-paginator-active">{{ p }}</li>
                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                <li class="li-paginator" onclick="location.href='?page={{ p }}'">{{ p }}</li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="li-paginator" onclick="location.href='?page={{ page_obj.next_page_number }}'">>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>
    </div>
    </div>
{% endblock %}